language: java
env:
  global:
    - JAVA_OPTS=-Xmx2g
    - MAVEN_OPTS=$JAVA_OPTS
#env:
  # execution per-module so that PITest doesn't timeout the build
  # mandatory modules first
 # - MODULE=robozonky-api
  #- MODULE=robozonky-common
  #- MODULE=robozonky-notifications
  #- MODULE=robozonky-app
  #- MODULE=robozonky-installer
  # then plugin modules
  #- MODULE=robozonky-strategy-natural
  #- MODULE=robozonky-integration-zonkoid
  # finally distributions
  #- MODULE=robozonky-distribution/robozonky-distribution-full,robozonky-distribution/robozonky-distribution-installer
os:
  - linux
jdk:
  - openjdk8
  - openjdk10
  - oraclejdk8
  - oraclejdk10
  - openjdk-ea
matrix:
  fast_finish: true # fail all if one fails
  include:
  - jdk: openjdk8
    env: # no effect, just visual
      - MODULE=robozonky-distribution
    addons:
      sonarcloud:
        organization: "robozonky"
        token:
          secure: $SONAR_TOKEN
    script: # use "test" here so that PITest is not executed, speeding up the build
      - mvn org.jacoco:jacoco-maven-plugin:prepare-agent test sonar:sonar
  allow_failures:
  - jdk: openjdk-ea
cache:
  directories:
  - $HOME/.m2
install: # no tests, just build
  - mvn --batch-mode -pl $MODULE -am install -DskipTests -Dgpg.skip
script: # all tests, no assembly
  - mvn --batch-mode -pl $MODULE install -Dassembly.skipAssembly -Dgpg.skip
