language: java
git: # makes Git blame work in Sonar
  depth: false
env:
  global:
    - JAVA_OPTS=-Xmx2g
    - MAVEN_OPTS=$JAVA_OPTS
  matrix:
    # API module first, as all modules depend on it
    - MODULE=robozonky-api
    # App module second; by far the longest, other builders can work on subsequent modules in the meantime
    - MODULE=robozonky-app
    # Other distributables next
    - MODULE=robozonky-cli
    - MODULE=robozonky-installer
    # then plugin modules
    - MODULE=robozonky-notifications
    - MODULE=robozonky-strategy-natural
os:
  - linux
jdk: # OpenJDK releases (non-EA) belong here, minimum of Java 11 is required
  - openjdk11
  - openjdk12
  - openjdk13
  - openjdk-ea
stages: # order the stages we'll use during this build
  - precache
  - test
  - sonar
matrix:
  allow_failures:
  - jdk: openjdk13
  - jdk: openjdk-ea
  include:
  - stage: precache # independent stage for Maven to build and download all dependencies
    env: # empty
    install:
    - mvn --batch-mode clean install -DskipTests -Dgpg.skip
    script:
      - mvn dependency:go-offline # no need to run through the usual script, this is mostly no-op
  - stage: sonar # independent build stage for Sonar code analysis
    env: # empty
    addons:
      sonarcloud:
        organization: "robozonky"
        token:
          secure: $SONAR_TOKEN
    install: # do nothing
      - mvn clean
    script: # use "test" phase instead of "install", so that PITest is not executed, speeding up the build
      - mvn --batch-mode org.jacoco:jacoco-maven-plugin:prepare-agent test sonar:sonar -Dsonar.host.url=https://sonarcloud.io
cache:
  directories:
  - $HOME/.m2
install: # freshly build all required modules
  - mvn --batch-mode -pl $MODULE -am clean install -DskipTests -Denforcer.skip -Dgpg.skip
script: # by default, run all tests incl. PITest, skipping all assemblies
  - mvn --batch-mode -pl $MODULE install -Dassembly.skipAssembly -Denforcer.skip -Dgpg.skip
