language: java
env:
  global:
    - JAVA_OPTS=-Xmx2g
    - MAVEN_OPTS=$JAVA_OPTS
env:
  # execution per-module so that PITest doesn't timeout the build, most difficult modules first
  - MODULE=robozonky-app
  - MODULE=robozonky-installer
  - MODULE=robozonky-notifications
  - MODULE=robozonky-strategy-natural
  - MODULE=robozonky-integration-zonkoid
  - MODULE=robozonky-common
  - MODULE=robozonky-api
  - MODULE=robozonky-distribution/robozonky-distribution-full,robozonky-distribution/robozonky-distribution-installer
os:
  - linux
cache:
  directories:
  - $HOME/.m2
install: # build all required modules for the given module, no tests
  - mvn --batch-mode -pl $MODULE -am install -DskipTests -Dgpg.skip
script: # test the one module
  - mvn --batch-mode -pl $MODULE install -Dassembly.skipAssembly -Dgpg.skip
matrix: # fail all if one fails
  fast_finish: true
  include:
    - jdk: oraclejdk9
      before_script:
        - jdk_switcher use oraclejdk9
      addons: # make sure we're using the latest Java as Travis default is quite old
        apt:
          packages:
            - oracle-java9-installer
    - jdk: oraclejdk8
      before_script:
        - jdk_switcher use oraclejdk8
      addons: # make sure we're using the latest Java as Travis default is quite old
        apt:
          packages:
            - oracle-java8-installer
