install: true
script: "MAVEN_OPTS=\"-Xmx512m\" JAVA_OPTS=\"-Xmx512m\" mvn --batch-mode clean post-integration-test"
language: java
os:
  - linux
jdk:
  - oraclejdk9
  - oraclejdk8
addons: # make sure we're using the latest Java as Travis default is quite old
  apt:
    packages:
      - oracle-java8-installer
      - oracle-java9-installer
cache:
  directories:
  - $HOME/.m2
