version: '{build}'
environment:
  matrix:
    - JAVA_HOME: C:\Program Files\Java\jdk9
branches:
  except:
    - gh-pages
install:
  - cmd: SET PATH=%JAVA_HOME%\bin;%PATH%
  - cmd: SET MAVEN_OPTS=-Xmx4g
  - cmd: SET JAVA_OPTS=-Xmx4g
  - cmd: mvn --version
  - cmd: java -version
build_script:
  - mvn --batch-mode post-integration-test -DskipTests
test_script:
  - mvn --batch-mode post-integration-test
cache:
  - C:\Users\appveyor\.m2
