version: '{build}'
environment:
  JAVA_HOME: C:\Program Files\Java\jdk9
  matrix: # execution per-module so that PITest doesn't timeout the build, most difficult modules first
    - MODULE: robozonky-app
    - MODULE: robozonky-installer
    - MODULE: robozonky-notifications
    - MODULE: robozonky-strategy-natural
    - MODULE: robozonky-integration-zonkoid
    - MODULE: robozonky-common
    - MODULE: robozonky-api
    - MODULE: robozonky-distribution/robozonky-distribution-full
    - MODULE: robozonky-distribution/robozonky-distribution-installer
matrix:
  fast_finish: true
branches:
  except:
    - gh-pages
cache:
  - C:\Users\appveyor\.m2\ -> pom.xml
install:
  - ps: |
      Add-Type -AssemblyName System.IO.Compression.FileSystem
      if (!(Test-Path -Path "C:\maven" )) {
        (new-object System.Net.WebClient).DownloadFile(
          'https://www.apache.org/dist/maven/maven-3/3.5.3/binaries/apache-maven-3.5.3-bin.zip',
          'C:\maven-bin.zip'
        )
        [System.IO.Compression.ZipFile]::ExtractToDirectory("C:\maven-bin.zip", "C:\maven")
      }
  - cmd: SET PATH=C:\maven\apache-maven-3.5.3\bin;%JAVA_HOME%\bin;%PATH%
  - cmd: SET JAVA_OPTS=-Xmx2g
  - cmd: SET MAVEN_OPTS=%JAVA_OPTS%
  - cmd: mvn --version
  - cmd: java -version
build_script: # build all required modules for the given module, no tests
  - mvn --batch-mode -T 1.5C -pl %MODULE% -am clean install -DskipTests -Dgpg.skip
test_script: # test the one module
  - mvn --batch-mode -pl %MODULE% install -Dassembly.skipAssembly -Dgpg.skip
