version: '{build}'
environment:
  matrix:
    - JAVA_HOME: C:\Program Files\Java\jdk1.8.0
branches:
  except:
    - gh-pages
os: Windows Server 2012
install:
  - cmd: SET PATH=%JAVA_HOME%\bin;%PATH%
  - cmd: SET MAVEN_OPTS=-Xmx4g
  - cmd: SET JAVA_OPTS=-Xmx4g
  - cmd: mvn --version
  - cmd: java -version
build_script:
  - mvn clean post-integration-test --batch-mode -DskipTests
test_script:
  - mvn post-integration-test --batch-mode
cache:
  - C:\Users\appveyor\.m2
artifacts:
  - path: '**\surefire-reports\*'
