/* Make text in range slider labels non-selectable */

.rangeSliderValue {
  user-select: none!important;
  -moz-user-select: none!important;
}

/*
 To make selected conditions in FilterCreationModal better distinguishable I put them in a fieldset.
 But bootstrap disables fieldset borders, so reenable them.
*/

.condition-row {
  margin-bottom: 0px;
}

.condition-row.active {
  border: solid 1px lightgrey !important;
  padding: 5px;
  margin-bottom: 8px;
}
