#parse("header.vm")

$h1 Advanced *Splitlog* Concepts

In this section, we will look under the hood of *Splitlog*. These are the things you might not know and might even surprise you. 

[Message Lifecycle](message_lifecycle.html)
: Explains how ```Message```s are created out of log files and what changes they go through during their lifecycle.

[Splitting](splitting.html)
: Explains how *Splitlog* analyzes the contents of the log files and moves ```Message```s through the lifecycle.

[Memory Management](memory.html)
: Explains how *Splitlog* stores the ```Message```s, what it does to save your memory, and how you can help. 

Not found what you've been looking for? Check out the [FAQ](faq.html).

#set($page = "advanced")
#parse("footer.vm")
