[Unit]
Description=RoboZonky: Automated Zonky.cz investing robot
After=network.target

[Service]
Restart=true
WorkingDirectory=/usr/robozonky
ExecStart=/usr/robozonky/robozonky.sh @robozonky.cli
ExecStop=

[Install]
WantedBy=multi-user.target
